.bag-container {
    bottom: 0;
    left: 0;
}

.cycle {
    width: 100%;
    transform-origin: center center;
    transform-box: fill-box;
}

.cycle svg {
    width: 10vh;
    cursor: grab
}

.cycle svg:hover {
    transform: scale(1.1);
}

.cycle .bag {
    position: absolute
}

.cycle .bag :hover {
    display: none !important
}

.cycle .bag-glo :hover {
    filter: url(#dropshadow);
    stroke-width: 2px
}

.cycle .bag .st0 {
    fill: url(#SVGID_1_);
}

.cycle .bag .st1 {
    fill: url(#SVGID_00000079479262848878650000000004176338908097552528_);
}

.cycle .bag .st2 {
    fill: rgb(75, 63, 58);
}

.cycle .bag .st3 {
    fill: rgb(58, 26, 1);
}

.exchanges {
    margin-left: 37%;
    margin-right: 37%
}

.footer {
    line-height: 2.5vh;
    width: 100%;
    padding-bottom: 1vh;
    color: rgb(228, 203, 182)
}

.footer a {
    font-size: 1vh;
    text-shadow: none
}

.footer svg {
    width: 1.7vh;
    fill: currentColor
}

.footer svg:hover {
    transform: scale(1.7);
    text-shadow: inherit
}