.offcanvas {
    background: rgb(37, 37, 38);
    color: rgb(203, 203, 203) !important;
}

.offcanvas .table {
    line-height: 2vh
}

.offcanvas.offcanvas-bottom {
    height: 90%;
}

.offcanvas.offcanvas-top {
    height: 55%
}