.navbar {
  background-image: linear-gradient(to bottom, rgb(37, 37, 38), rgb(30, 30, 31));
  font-size: 2.3vh;
  color: rgb(224, 224, 224);
}

.navbar-collapse {
  background: inherit;
  padding: 3vh;
  color: #C8AA61;
  font-size: 2vh;
}

.dex {
  font-weight: 600;
  font-size: 3vh;
  color: rgb(253, 215, 122)
}