body {
     color: #E31C79;
     background-color: #101010;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 1.5vh;
     text-align: center;
     margin: 0
}

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box
}

a {
     color: #E4CBB6;
     text-decoration: none;
}

a:hover {
     color: #3977D4;
}

button {
     background-color: #181818;
     color: #E31C79;
     font-size: 1.5vh;
     border: none;
     margin: 2px
}

button:hover {
     background-color: #141414;
     color: #3977D4
}

.button-nav {
     transform: scale(.9);
     transition: transform .2s ease-in-out
}

.button-nav:hover {
     transform: scale(1.1) translatey(-2px)
}

.button-trade {
     background-color: transparent;
     transform: scale(1.5);
     transition: transform .2s ease-in-out;
}

.button-trade:hover {
     background-color: transparent;
     transform: scale(2) translatey(-0.1vh);
     text-shadow: 0 0 1vh #3977D4
}

.footer {
     font-size: .9vh;
     line-height: .6vh;
}

.footer svg {
     width: 1.45vh;
     color: inherit
}

.form {
     text-align: inherit;
     width: 100%;
     height: inherit;
     color: #555;
}

.hidden {
     display: none !important
}

h1 {
     font-size: 150%;
     color: #A6E327
}

h2 {
     font-size: 125%;
     color: #3977d4
}

input {
     background-color: #303030;
     border: none
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
     -webkit-appearance: none
}

.input-group {
     white-space: nowrap
}

.modal {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1050;
     display: none
}

.modal-backdrop {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1040;
     background-color: #000
}

.modal-body {
     padding: 15px;
     background-color: #202124
}

.modal-dialog {
     width: 100%;
     max-width: 400px;
     margin: 10px auto;
}

.modal-header {
     padding: 5px
}

#modal-high-score ul {
     list-style: none
}

#modal-inventory label input {
     display: none
}

#modal-inventory table tr th {
     background-color: #202124;
     font-size: 2em;
     line-height: 1.4em
}

#modal-inventory table tr td {
     border: none !important
}

.modal-open .modal {
     overflow-x: hidden;
     overflow-y: auto
}

#modal-pawn-shop .input-group,
#modal-transaction .input-group {
     max-width: 180px
}


#modal-prices .table tr td {
     border: none
}

svg {
     width: 2.5vh;
     fill: currentColor;
     color: #A6E327;
}

svg:active,
svg:hover,
svg:focus {
     color: #3977d4;
}

table {
     border-collapse: collapse;
     color: #F5F5F5;
     width: 100%;
     max-width: 100%;
}

th {
     position: sticky;
     width: 25%;
     background-color: #252525;
     padding: 7px 0px 2px 0px;
}

td {
     border-top: 1px solid #181818;
     width: 25%;
     padding: .5vh;

}