body {
     color: #E31C79;
     background-color: #101010;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 1.5vh;
     text-align: center;
     margin: 0
}

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box
}

a {
     color: #E4CBB6;
     text-decoration: none;
}

a:hover {
     color: #3977D4;
}

button {
     background-color: #181818;
     color: #E31C79;
     font-size: 1.5vh;
     border: none;
     margin: .2vh
}

button:hover {
     background-color: #141414;
     color: #3977D4
}

.button-nav {
     transition: transform .2s ease-in-out
}

.button-nav:hover {
     transform: scale(1.2)
}

.button-trade {
     background-color: transparent;
     transition: transform .2s ease-in-out;
}

.button-trade:hover {
     background-color: transparent;
     transform: scale(2);
     text-shadow: 0 0 1vh #3977D4
}

.footer {
     font-size: .9vh;
     line-height: .6vh;
}

.footer svg {
     width: 1.45vh;
     color: inherit
}

.hidden {
     display: none !important
}

h1 {
     font-size: 150%;
     color: #A6E327
}

h2 {
     font-size: 125%;
     color: #3977d4
}

.modal {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1050;
     display: none;
}

.modal ul {
     list-style: none
}

.modal td {
     border: none
}

.modal th {
     background-color: inherit
}

.modal input {
     background-color: #303030;
     border: none;
     white-space: nowrap;
     max-width: 20vh;
     text-align: inherit;
     width: 100%;
     height: inherit;
     color: #555;
}

.modal input::-webkit-inner-spin-button,
.modal input::-webkit-outer-spin-button {
     -webkit-appearance: none
}

.modal-inventory input {
     display: none;
}

.modal-backdrop {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1040;
     background-color: #000
}

.modal-body {
     padding: 15px;
     background-color: #202124
}

.modal-dialog {
     width: 100%;
     max-width: 400px;
     margin: 10px auto;
}

svg {
     width: 2vh;
     fill: currentColor;
     color: #A6E327;
}

svg:active,
svg:hover,
svg:focus {
     color: #3977d4;
}

table {
     border-collapse: collapse;
     color: #F5F5F5;
     width: 100%;
     max-width: 100%;
}

th {
     width: 25%;
     background-color: #252525;
     padding: .9vh 0 .5vh 0
}

td {
     border-top: 1px solid #181818;
     width: 25%;
     padding: .1vh 0 .1vh 0
}