.coin-header {
    font-weight: 700;
}

.coin-header span {
    font-weight: 700 !important;
}

.coin-row:hover {
    background: rgb(37, 37, 38);
    color: rgb(235, 235, 235)
}

.coin-row {
    cursor: pointer;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: .8vh;
    text-align: center;
    background-color: #3C3C3C;
}

.coin-row.collapsed {
    background-color: inherit;
}

.coin-row .col {
    text-align: center;
    padding-top: 0.8vh !important;
    padding-bottom: calc(0.5rem - 0.4vh) !important;
    padding-left: .5rem;
    padding-right: .5rem;
}

.accordion-item {
    color: inherit;
    background-color: inherit;
    border: none;
}

.value-badge {
    margin-top: -5px !important;
    margin-left: 5px !important;
    background-color: rgb(203, 165, 92);
    color: black;
    border: .5px solid black;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;
}