.buy-sell-container {
    z-index: 1000;
    position: relative;
    background-color: #3C3C3C;
}

.coinlist {
    color: white
}

.wallet-header {
    font-size: 2vh;
    font-weight: 600;
}

.defi {
    font-size: 2vh;
}