.coin-header {
    font-weight: 700;
}

.coin-row:hover {
    background: rgb(37, 37, 38);
    color: rgb(235, 235, 235)
}

.coin-row {
    cursor: pointer;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: .8vh;
    text-align: center;
}

.coin-row .col {
    text-align: center;
    padding-top: 1.4vh !important;
    padding: .5rem .5rem;
}